.custom-donut-chart {
  --donutchart-full-circle-stroke: var(--secondary-color-100);
  --donutchart-indicator-stroke: var(--secondary-color-400);
  --donutchart-text-font-family: 'Nunito Sans';
  --donutchart-completion-value-font-size: 15px;
  --donutchart-message-color: var(--error-color);
  --donutchart-message-font-size: 20px;
  --donutchart-message-font-weight: 500;
}
